


body{
background-color: rgb(161, 161, 182);
margin: 0;
padding: 0;


}



.loader{
height: 70px;
width: 70px;
background-color: transparent;
border-radius: 50%;
border: 5px dotted rgb(161, 161, 182);
display: flex;
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
border-top-color:rgb(218, 213, 213);
animation:rotate 1s infinite;

}


@keyframes rotate{
100%{
rotate: 360deg ;
}
}









